{
  "parser": "babel-eslint", // TODO: Wan to move this config to app/.eslintrc, but ATOM does not work
  "extends": [
    "airbnb",
  ],
  "rules": {
    "strict": "off",
    "import/no-extraneous-dependencies": "off",
    'no-restricted-syntax': [
      'error',
      'ForInStatement',
      //'ForOfStatement',
      'LabeledStatement',
      'WithStatement',
    ],
    "comma-dangle": [
      "error", {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never",
      },
    ],
  },
}
