{
  "extends": ["airbnb"],
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "jsx-a11y/img-has-alt": "off", // Turn off until airbnb-config is updated
    "no-restricted-syntax": [
      "error",
      "ForInStatement",
      //"ForOfStatement",
      "LabeledStatement",
      "WithStatement"
    ],
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": ["ctx"]
      }
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ]
  }
}
